<p>Dear {{ user.firstname }} {{ user.lastname }},</p>
<p>You have registered yourself at {{ url_for('home.index', _external=True)[:-5] }}.</p>
<p>To confirm your account please <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
