{% extends 'admin/master.html' %}

{% block body %}
  <h5><b>Danger Zone!</b></h5>
  <p>
    Here you have direct database access to all the data models.
  </p>
  <p>
    With great power comes great responsibility.
  </p>
  <p>
    It's allright to modify entries, but be careful not to break stuff.
    You've been warned.
  </p>
{% endblock %}
