<p>Hello,</p>
<p>An account deactivation request has been issued by {{ user.firstname}} {{ user.lastname}} ({{ user.email}}).</p>
<p>To process the request, please <a href="{{ url_for('account.deactivate_account', user_id=user.id, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('account.deactivate_account', user_id=user.id, _external=True) }}</p>
