{% extends "base.html" %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_body %}
<div class="col-xs-12">
  {% if users %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Profile</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.email }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td><a class="btn btn-primary btn-sm" href={{ url_for('account.details_user_account', user_id=user.id) }} role="button">Link</a></td>
      </tr>
    {% endfor %}
    <tr>
      <td>{{ users|length }} Users</td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  {% else %}
  <p><em>Nothing to display.</em></p>
  {% endif %}
</div>
{% endblock page_body %}
