{% extends "base.html" %}

{% block page_title %}{{ context.company.name }}{% endblock %}

{% block page_body %}
  <table class="table table-hover text-left">
   <tr>
     <th>Category</th>
     <td>{% if context.company.contributing %}Contributing{% else %}Not Contributing{% endif %}</td>
   </tr>
   <tr>
     <th>Address</th>
     <td>{{ context.company.address|default("", True) }}</td>
   </tr>
   <tr>
     <th>Website</th>
     <td>{% if context.company.website %}<a href="{{ context.company.website }}" target="_blank">{{ context.company.website }}</a>{% endif %}</td>
   </tr>
   <tr>
     <th>Email</th>
     <td>{{ context.company.email|default("", True) }}</td>
   </tr>
   <tr>
     <th>Officer</th>
     <td>{% if context.officer %}{{ context.officer.firstname }} {{ context.officer.lastname }} ({{ context.officer.email }}){% endif %}</td>
   </tr>
   <tr>
     <th>Deputy</th>
     <td>{% if context.deputy %}{{ context.deputy.firstname }} {{ context.deputy.lastname }} ({{ context.deputy.email }}){% endif %}</td>
   </tr>
  </table>
</div>
{% endblock page_body %}
