{% extends "base.html" %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_body %}
  {% if context.companies %}
    <table class="table table-hover text-left">
      <tbody>
      {% for company in context.companies %}
        <tr>
          <td>{{ company.name }}</td>
          <td>{% if company.contributing %}Contributing{% else %}Not Contributing{% endif %}</td>
          <td><a class="btn btn-primary btn-sm" href={{ url_for('.details_company', company_id=company.id) }} role="button">Details</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p><em>Nothing to display.</em></p>
  {% endif %}
{% endblock page_body %}
