{% extends "base.html" %}

{% block page_title %}Club Members{% endblock %}

{% block page_body %}
  {% for club, memberships in context.club_memberships.items() %}
    <b>{{ club.name }}</b>
    <table class="table table-hover text-left">
      <tbody>
      {% for membership in memberships %}
        <tr>
          <td>{{ membership.user.firstname }} {{ membership.user.lastname }}</td>
          <td>{{ membership.user.get_company_or_family_relation() }}</td>
          <td align='right'>{{ membership.get_status() }}</td>
        </tr>
      {% endfor %}
      <tr>
        <td>{{ memberships|length }} Members</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  {% endfor %}
{% endblock page_body %}
