{% extends "base.html" %}

{% block page_title %}{{ context.club.name }} Club Membership Requests{% endblock %}

{% block page_body %}
  {% if context.users_requests %}
    <table class="table table-hover text-left">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Period</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for user, request in context.users_requests %}
        <tr>
          <td>{{ user.firstname }} {{ user.lastname }}</td>
          <td>{{ request.get_status() }}</td>
          <td>{{ request.valid_from }} - {{ request.valid_till }}</td>
          <td>
            <a class="btn btn-primary btn-sm" href={{ url_for('account.details_user_account', user_id=user.id) }} role="button">Profile</a>
            <a class="btn btn-warning btn-sm" href={{ url_for('membership.confirm_membership_request', user_id=request.user_id, club_id=request.club_id, valid_from=request.valid_from, valid_till=request.valid_till) }} role="button">Confirm</a>
            <a class="btn btn-danger btn-sm" href={{ url_for('membership.delete_membership_request', membership_request_id=request.id) }} role="button">Delete</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p><em>Nothing to display.</em></p>
  {% endif %}
{% endblock page_body %}
