{% extends "base.html" %}

{% block page_title %}{{ context.club.name }} Club Active Members{% endblock %}

{% block page_body %}
  {% if context.memberships %}
    <table class="table table-hover text-left">
      <tbody>
      {% for membership in context.memberships %}
        <tr>
          <td>{{ membership.user.firstname }} {{ membership.user.lastname }}</td>
          <td><a class="btn btn-primary btn-sm" role="button" href="mailto:{{ membership.user.email }}">{{ membership.user.email }}</a></td>
          <td>{{ membership.get_status() }}</td>
          <td><a class="btn btn-primary btn-sm" href={{ url_for('account.details_user_account', user_id=membership.user.id) }} role="button">Profile</a></td>
        </tr>
      {% endfor %}
      <tr>
        <td>{{ context.memberships|length }} Members</td>
        <td>
          {% if context.members_email %}<a class="btn btn-primary btn-sm" href="mailto:{{context.members_email}}">Email All</a>{% endif %}
        </td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  {% else %}
    <p><em>Nothing to display.</em></p>
  {% endif %}
{% endblock page_body %}
