{% extends "base.html" %}

{% block page_header %}
  <h4>{{ title }}</h4>
{% endblock page_header %}

{% block page_body %}
  {% if context.memberships %}
    <table class="table table-hover text-left">
      <tbody>
      {% for membership in context.memberships %}
        <tr>
          <td>{{ membership.club.name }}</td>
          <td>{{ membership.valid_from|default("", True) }}</td>
          <td>{{ membership.valid_till|default("", True) }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p><em>Nothing to display.</em></p>
  {% endif %}
{% endblock page_body %}
