{% extends "base.html" %}

{% block page_title %}{{ context.club.name }} Club Memberships History{% endblock %}

{% block page_body %}
  {% if context.memberships_by_year %}
    {% for year, memberships in context.memberships_by_year.items() %}
      <b>{{ year }}</b>
      <table class="table table-hover text-left">
        <tbody>
          {% for membership in memberships %}
          <tr>
            <td>{{ membership.user.firstname }} {{ membership.user.lastname }}</td>
            <td>{{ membership.valid_from }} - {{ membership.valid_till }}</td>
            <td>
              <a class="btn btn-warning btn-sm" href={{ url_for('membership.modify_membership', membership_id=membership.id) }} role="button">Modify</a>
            </td>
          </tr>
          {% endfor %}
          <td>{{ memberships|length }} Members</td>
          <td></td>
          <td></td>
        </tbody>
      </table>
    {% endfor %}
  {% else %}
    <p><em>Nothing to display.</em></p>
  {% endif %}
{% endblock page_body %}
